{% extends 'base.twig' %}

{% block content %}
    <div class="col-md-3">
        {% block side %}
            {% include 'parts/sidenav.twig' %}
        {% endblock %}
    </div>
    <div class="col-md-9">
        {% block main %}
            Main
        {% endblock %}
    </div>
{% endblock %}