{% if page.breadcrumbs %}
	<nav class="breadcrumbs">
		<h2>Breadcrumbs</h2>
		{# Here is an example to get the breadcrumbs for a page (this will auto generate them based off the uri structure) #}
		{# {% getBreadcrumbs() %} #}
	</nav>
{% endif %}