{% if page.breadcrumbs %}
    {{ dump() }}
	<nav class="breadcrumbs">
		{# Here is an example to get the breadcrumbs for a page (this will auto generate them based off the uri structure) #}
        <ol class="breadcrumb">

            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
	</nav>
{% endif %}